#!/usr/bin/make -f

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif

ifeq (,$(NUMJOBS))
	NUMJOBS = 1
endif

DEB_BUILDDIR = "builddir"
DEB_SRCDIR = "src"
DEB_DH_INSTALL_SOURCEDIR = "$(CURDIR)/debian/tmp"

CMAKEOPTS = "$(CURDIR)/$(DEB_SRCDIR)" \
	-DTEST=False \
	-DCMAKE_BUILD_TYPE:STRING=RelWithDebInfo \
	-DDISABLE_RPATH_TRICKS=True \
	-DQXMPP_LOCAL="$(CURDIR)/qxmpp" \
	-DENABLE_POPISHU=True \
	-DENABLE_SHELLOPEN=True \
	-DENABLE_SECMAN=True \
	-DENABLE_LACKMAN=True \
	-DENABLE_AZOTH=True \
	-DENABLE_GMAILNOTIFIER=True \
	-DENABLE_EISKALTDCPP=True \
	-DLEECHCRAFT_VERSION=$(shell dpkg-parsechangelog | awk '/Version:/ {print $2}' | cut -b 10-)


configure: configure-stamp
configure-stamp:
	dh_testdir
	mkdir -p $(DEB_BUILDDIR)
	cd $(CURDIR)/qxmpp && qmake
	cd $(DEB_BUILDDIR) && cmake $(CMAKEOPTS)
	touch $@
build: configure build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp
build-stamp:
	dh_testdir
	cd $(CURDIR)/qxmpp && $(MAKE) -j$(NUMJOBS)
	cd $(DEB_BUILDDIR) && $(MAKE) -j$(NUMJOBS)
	touch $@
clean: do-clean
do-clean:
	dh_testdir
	dh_testroot
	rm -f src/data/leechcraft.1.gz
	[ ! -f Makefile ] || ( cd $(DEB_BUILDDIR) && $(MAKE) clean )
	test ! -d $(DEB_BUILDDIR) || rm -r $(DEB_BUILDDIR)
	dh_clean
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	cd $(DEB_BUILDDIR) && $(MAKE) install DESTDIR=$(DEB_DH_INSTALL_SOURCEDIR)
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_movefiles -i
	dh_installdocs -i
	dh_installchangelogs -i README
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_installdebconf -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_movefiles -a
	dh_installchangelogs -a README
	dh_installdocs -a
	dh_installman -a
	dh_link -a
	dh_strip --dbg-package=leechcraft-dbg
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_installdebconf -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a
binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure patch unpatch do-clean
