#!/usr/bin/make -f

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif

ifeq (,$(NUMJOBS))
	NUMJOBS = 1
endif

DEB_BUILDDIR = "builddir"
DEB_SRCDIR = "src"
DEB_DH_INSTALL_SOURCEDIR = "$(CURDIR)/debian/tmp"
export DEB_CMAKE_EXTRA_FLAGS = -DTEST=False \
	-DCMAKE_BUILD_TYPE:STRING=RelWithDebInfo \
	-DDISABLE_RPATH_TRICKS=True \
	-DENABLE_POPISHU=True \
	-DENABLE_SHELLOPEN=True \
	-DENABLE_SECMAN=True \
	-DENABLE_LACKMAN=True \
	-DENABLE_AZOTH=True \
	-DENABLE_GMAILNOTIFIER=True \
	-DENABLE_EISKALTDCPP=True \
	-DLEECHCRAFT_VERSION=$(shell dpkg-parsechangelog | awk '/Version:/ {print $2}' | cut -b 10-)

	include /usr/share/cdbs/1/rules/debhelper.mk
	include /usr/share/cdbs/1/class/cmake.mk

clean::
	rm -f src/data/leechcraft.1.gz

configure: configure-stamp
configure-stamp:
	dh_testdir
	mkdir -p $(DEB_BUILDDIR)
	cd $(CURDIR)/qxmpp && qmake
	cd $(DEB_BUILDDIR) && cmake ..
	touch $@

build: build-stamp
build-stamp:  config.status
	dh_testdir
	qmake
	cd $(CURDIR)/qxmpp && $(MAKE) -j$(NUMJOBS)
	cd $(DEB_BUILDDIR) && $(MAKE) -j$(NUMJOBS)
	touch $@

