#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

install/eiskaltdcpp-geoip::
	mkdir -p $(CURDIR)/debian/eiskaltdcpp-geoip/usr/share/eiskaltdcpp/
	cp -f $(CURDIR)/debian/update_geoip $(CURDIR)/debian/eiskaltdcpp-geoip/usr/share/eiskaltdcpp/
	chmod uog=rwx $(CURDIR)/debian/eiskaltdcpp-geoip/usr/share/eiskaltdcpp/update_geoip
