[submodule "Debian/uhub/uhub-debian"]
	path = Debian/uhub/uhub-debian
	url = git@github.com:tehnick/uhub-debian.git
[submodule "Launchpad/uhub/uhub-debian"]
	path = Launchpad/uhub/uhub-debian
	url = git@github.com:tehnick/uhub-debian.git
[submodule "Debian/psi-plus/psi-plus-debian"]
	path = Debian/psi-plus/psi-plus-debian
	url = git@github.com:tehnick/psi-plus-debian.git
[submodule "Debian/plasma-widget-cwp/plasma-widget-cwp-debian"]
	path = Debian/plasma-widget-cwp/plasma-widget-cwp-debian
	url = git@github.com:tehnick/plasma-widget-cwp-debian.git
[submodule "Launchpad/plasma-widget-cwp/plasma-widget-cwp-debian"]
	path = Launchpad/plasma-widget-cwp/plasma-widget-cwp-debian
	url = git@github.com:tehnick/plasma-widget-cwp-debian.git
[submodule "Debian/leechcraft/leechcraft-debian"]
	path = Debian/leechcraft/leechcraft-debian
	url = git@github.com:tehnick/leechcraft-debian.git
[submodule "Debian/qconf/qconf-debian"]
	path = Debian/qconf/qconf-debian
	url = git@github.com:tehnick/qconf-debian.git
[submodule "Debian/psimedia/psimedia-debian"]
	path = Debian/psimedia/psimedia-debian
	url = git@github.com:tehnick/psimedia-debian.git
[submodule "Launchpad/eiskaltdcpp-unstable/eiskaltdcpp-unstable-debian"]
	path = Launchpad/eiskaltdcpp-unstable/eiskaltdcpp-unstable-debian
	url = git@github.com:tehnick/eiskaltdcpp-unstable-debian.git
[submodule "Launchpad/uhub-unstable/uhub-unstable-debian"]
	path = Launchpad/uhub-unstable/uhub-unstable-debian
	url = git@github.com:tehnick/uhub-unstable-debian.git
