[submodule "Debian/uhub/uhub-debian"]
	path = Debian/uhub/uhub-debian
	url = git@github.com:tehnick/uhub-debian.git
[submodule "Launchpad/uhub/uhub-debian"]
	path = Launchpad/uhub/uhub-debian
	url = git@github.com:tehnick/uhub-debian.git
[submodule "Debian/psi-plus/psi-plus-debian"]
	path = Debian/psi-plus/psi-plus-debian
	url = git@github.com:tehnick/psi-plus-debian.git
[submodule "Debian/plasma-widget-cwp/plasma-widget-cwp-debian"]
	path = Debian/plasma-widget-cwp/plasma-widget-cwp-debian
	url = git@github.com:tehnick/plasma-widget-cwp-debian.git
[submodule "Launchpad/plasma-widget-cwp/plasma-widget-cwp-debian"]
	path = Launchpad/plasma-widget-cwp/plasma-widget-cwp-debian
	url = git@github.com:tehnick/plasma-widget-cwp-debian.git
[submodule "Debian/leechcraft/leechcraft-debian"]
	path = Debian/leechcraft/leechcraft-debian
	url = git@github.com:tehnick/leechcraft-debian.git
[submodule "Debian/qconf/qconf-debian"]
	path = Debian/qconf/qconf-debian
	url = git@github.com:tehnick/qconf-debian.git
[submodule "Debian/psimedia/psimedia-debian"]
	path = Debian/psimedia/psimedia-debian
	url = git@github.com:tehnick/psimedia-debian.git
[submodule "Debian/psi-plus-i18n/psi-plus-i18n-debian"]
	path = Debian/psi-plus-i18n/psi-plus-i18n-debian
	url = git@github.com:tehnick/psi-plus-i18n-debian.git
[submodule "Launchpad/psi-plus-i18n/psi-plus-i18n-debian"]
	path = Launchpad/psi-plus-i18n/psi-plus-i18n-debian
	url = git@github.com:tehnick/psi-plus-i18n-debian.git
[submodule "Launchpad/eiskaltdcpp-unstable/eiskaltdcpp-unstable-debian"]
	path = Launchpad/eiskaltdcpp-unstable/eiskaltdcpp-unstable-debian
	url = git@github.com:tehnick/eiskaltdcpp-unstable-debian.git
[submodule "Launchpad/uhub-unstable/uhub-unstable-debian"]
	path = Launchpad/uhub-unstable/uhub-unstable-debian
	url = git@github.com:tehnick/uhub-unstable-debian.git
[submodule "Launchpad/q4wine-unstable/q4wine-unstable-debian"]
	path = Launchpad/q4wine-unstable/q4wine-unstable-debian
	url = git@github.com:tehnick/q4wine-unstable-debian.git
[submodule "Launchpad/freedcpp-unstable/freedcpp-unstable-debian"]
	path = Launchpad/freedcpp-unstable/freedcpp-unstable-debian
	url = git@github.com:tehnick/freedcpp-unstable-debian.git
[submodule "Debian/eiskaltdcpp/eiskaltdcpp-debian"]
	path = Debian/eiskaltdcpp/eiskaltdcpp-debian
	url = git@github.com:tehnick/eiskaltdcpp-debian.git
[submodule "Launchpad/eiskaltdcpp/eiskaltdcpp-debian"]
	path = Launchpad/eiskaltdcpp/eiskaltdcpp-debian
	url = git@github.com:tehnick/eiskaltdcpp-debian.git
[submodule "Debian/q4wine/q4wine-debian"]
	path = Debian/q4wine/q4wine-debian
	url = git@github.com:tehnick/q4wine-debian.git
[submodule "Launchpad/q4wine/q4wine-debian"]
	path = Launchpad/q4wine/q4wine-debian
	url = git@github.com:tehnick/q4wine-debian.git
[submodule "Debian/freedcpp/freedcpp-debian"]
	path = Debian/freedcpp/freedcpp-debian
	url = git@github.com:tehnick/freedcpp-debian.git
[submodule "Launchpad/freedcpp/freedcpp-debian"]
	path = Launchpad/freedcpp/freedcpp-debian
	url = git@github.com:tehnick/freedcpp-debian.git
[submodule "Debian/freedcpp-mediapack/freedcpp-mediapack-debian"]
	path = Debian/freedcpp-mediapack/freedcpp-mediapack-debian
	url = git@github.com:tehnick/freedcpp-mediapack-debian.git
[submodule "Launchpad/freedcpp-mediapack/freedcpp-mediapack-debian"]
	path = Launchpad/freedcpp-mediapack/freedcpp-mediapack-debian
	url = git@github.com:tehnick/freedcpp-mediapack-debian.git
[submodule "Launchpad/freedcpp-example-theme/freedcpp-example-theme-debian"]
	path = Launchpad/freedcpp-example-theme/freedcpp-example-theme-debian
	url = git@github.com:tehnick/freedcpp-example-theme-debian.git
[submodule "Launchpad/leechcraft-unstable/leechcraft-unstable-debian"]
	path = Launchpad/leechcraft-unstable/leechcraft-unstable-debian
	url = git@github.com:tehnick/leechcraft-unstable-debian.git
[submodule "Launchpad/leechcraft/leechcraft-debian"]
	path = Launchpad/leechcraft/leechcraft-debian
	url = git@github.com:tehnick/leechcraft-debian.git
[submodule "Debian/gtk2-engines-qtcurve/gtk2-engines-qtcurve-debian"]
	path = Debian/gtk2-engines-qtcurve/gtk2-engines-qtcurve-debian
	url = git@github.com:tehnick/gtk2-engines-qtcurve-debian.git
[submodule "Debian/kde-style-qtcurve/kde-style-qtcurve-debian"]
	path = Debian/kde-style-qtcurve/kde-style-qtcurve-debian
	url = git@github.com:tehnick/kde-style-qtcurve-debian.git
[submodule "Debian/qxmpp/qxmpp-debian"]
	path = Debian/qxmpp/qxmpp-debian
	url = tehnick-guest@git.debian.org/git/collab-maint/qxmpp.git
[submodule "Launchpad/qxmpp/qxmpp-debian"]
	path = Launchpad/qxmpp/qxmpp-debian
	url = tehnick-guest@git.debian.org/git/collab-maint/qxmpp.git
[submodule "Debian/libterm-shellui-perl/libterm-shellui-perl-debian"]
	path = Debian/libterm-shellui-perl/libterm-shellui-perl-debian
	url = git@github.com:tehnick/libterm-shellui-perl-debian.git
[submodule "Launchpad/libterm-shellui-perl/libterm-shellui-perl-debian"]
	path = Launchpad/libterm-shellui-perl/libterm-shellui-perl-debian
	url = git@github.com:tehnick/libterm-shellui-perl-debian.git
[submodule "Debian/yagf/yagf-debian"]
	path = Debian/yagf/yagf-debian
	url = git@github.com:tehnick/yagf-debian.git
[submodule "Debian/kde-gtk-config/kde-gtk-config-debian"]
	path = Debian/kde-gtk-config/kde-gtk-config-debian
	url = git@github.com:tehnick/kde-gtk-config-debian.git
[submodule "Launchpad/kde-gtk-config/kde-gtk-config-debian"]
	path = Launchpad/kde-gtk-config/kde-gtk-config-debian
	url = git@github.com:tehnick/kde-gtk-config-debian.git
[submodule "Debian/libquantum/libquantum-debian"]
	path = Debian/libquantum/libquantum-debian
	url = tehnick-guest@git.debian.org/git/debian-science/packages/libquantum.git
[submodule "Debian/elmerfem/elmerfem-debian"]
	path = Debian/elmerfem/elmerfem-debian
	url = tehnick-guest@git.debian.org/git/debian-science/packages/elmerfem.git
