Source: freedcpp-unstable
Section: net
Priority: optional
Maintainer: Boris Pek <tehnick-8@mail.ru>
Build-Depends: debhelper (>= 6.0.4), cdbs (>= 0.4.27), scons (>= 0.96), libbz2-dev, libgtk2.0-dev, libglade2-dev, libssl-dev, pkg-config, libgnome2-dev, libnotify-dev, libboost-dev
Homepage: http://code.google.com/p/freedcpp/
Standards-Version: 3.9.1

Package: freedcpp-unstable
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: freedcpp
Conflicts: freedcpp
Description: FreeDC++ is DC++ client based on LinuxDC++ source code
 FreeDC++ is a program for UNIX-like systems that uses the Direct Connect
 and ADC protocol. It is compatible with other DC clients, such as the original
 DC from Neomodus, DC++ and derivatives. FreeDC++ also interoperates with
 all common DC hub software.
 .
 (This is daily builds of the FreeDC++ packages)
