#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

PKG_NAME = freedcpp-unstable

build/freedcpp-unstable::
	scons release=1 PREFIX=/usr FAKE_ROOT=$(CURDIR)/debian/freedcpp-unstable

cleanbuilddir/freedcpp-unstable::
	rm -rf build freedcpp-unstable

install/freedcpp-unstable::
	mv License.txt License.txt.orig
	scons install release=1
	cp Changelog.txt changelog
	gzip -9fc changelog > $(CURDIR)/debian/$(PKG_NAME)/usr/share/doc/$(PKG_NAME)/changelog.gz
	gzip -9fc ./debian/freedcpp.1 > $(CURDIR)/debian/$(PKG_NAME)/usr/share/man/man1/freedcpp.1.gz
