Source: freedcpp-example-theme
Section: net
Priority: optional
Maintainer: Boris Pek <tehnick-8@mail.ru>
Build-Depends: debhelper (>= 6), cdbs (>= 0.4.27)
Homepage: http://tehnick-8.narod.ru/freedcpp/
Standards-Version: 3.9.2

Package: freedcpp-example-theme
Architecture: all
Depends: freedcpp | freedcpp-unstable
Description: Example theme for FreeDC++
 Package contains collection of themes for FreeDC++.
 .
 Files were obtained from:
 http://freedcpp.narod.ru/download/themes/example-theme.tar.bz2
