Source: psi-plus-icons
Section: net
Priority: optional
Maintainer: Ivan Borzenkov <ivan1986@list.ru>
Uploaders: Boris Pek <tehnick-8@mail.ru>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.2
Homepage: http://psi-dev.googlecode.com/

Package: psi-plus-icons
Architecture: all
Depends: psi-plus-common, ${misc:Depends}
Recommends: psi-plus-icons-activities, psi-plus-icons-affiliations, psi-plus-icons-clients, psi-plus-icons-emoticons, psi-plus-icons-moods, psi-plus-icons-roster, psi-plus-icons-system
Breaks: psi-plus (<< 0.15~svn2289)
Replaces: psi-plus (<< 0.15~svn2289)
Description: icons for Psi+
 This package contains icons for Psi+.
 .
 Psi is a cross-platform powerful Jabber client (Qt, C++) designed for the
 Jabber power users. Psi+ is a development branch of Psi IM Jabber client by
 psi-dev@conference.jabber.ru team.
 .
 Project Purpose: collection, refinement and writing new patches for transfer
 them to Psi upstream developers.
 .
 Full list of features you can found at:
 http://psi-plus.com/wiki/doku.php/en:features

Package: psi-plus-icons-activities
Architecture: all
Depends: psi-plus-common, ${misc:Depends}
Breaks: psi-plus (<< 0.15~svn2289)
Replaces: psi-plus (<< 0.15~svn2289)
Description: activities icons for Psi+
 This package contains activities icons for Psi+.
 .
 Psi is a cross-platform powerful Jabber client (Qt, C++) designed for the
 Jabber power users. Psi+ is a development branch of Psi IM Jabber client by
 psi-dev@conference.jabber.ru team.
 .
 Project Purpose: collection, refinement and writing new patches for transfer
 them to Psi upstream developers.
 .
 Full list of features you can found at:
 http://psi-plus.com/wiki/doku.php/en:features

Package: psi-plus-icons-affiliations
Architecture: all
Depends: psi-plus-common, ${misc:Depends}
Breaks: psi-plus (<< 0.15~svn2289)
Replaces: psi-plus (<< 0.15~svn2289)
Description: affiliations icons for Psi+
 This package contains affiliations icons for Psi+.
 .
 Psi is a cross-platform powerful Jabber client (Qt, C++) designed for the
 Jabber power users. Psi+ is a development branch of Psi IM Jabber client by
 psi-dev@conference.jabber.ru team.
 .
 Project Purpose: collection, refinement and writing new patches for transfer
 them to Psi upstream developers.
 .
 Full list of features you can found at:
 http://psi-plus.com/wiki/doku.php/en:features

Package: psi-plus-icons-clients
Architecture: all
Depends: psi-plus-common, ${misc:Depends}
Breaks: psi-plus (<< 0.15~svn2289)
Replaces: psi-plus (<< 0.15~svn2289)
Description: clients icons for Psi+
 This package contains clients icons for Psi+.
 .
 Psi is a cross-platform powerful Jabber client (Qt, C++) designed for the
 Jabber power users. Psi+ is a development branch of Psi IM Jabber client by
 psi-dev@conference.jabber.ru team.
 .
 Project Purpose: collection, refinement and writing new patches for transfer
 them to Psi upstream developers.
 .
 Full list of features you can found at:
 http://psi-plus.com/wiki/doku.php/en:features

Package: psi-plus-icons-emoticons
Architecture: all
Depends: psi-plus-common, ${misc:Depends}
Breaks: psi-plus (<< 0.15~svn2289)
Replaces: psi-plus (<< 0.15~svn2289)
Description: emoticons icons for Psi+
 This package contains emoticons icons for Psi+.
 .
 Psi is a cross-platform powerful Jabber client (Qt, C++) designed for the
 Jabber power users. Psi+ is a development branch of Psi IM Jabber client by
 psi-dev@conference.jabber.ru team.
 .
 Project Purpose: collection, refinement and writing new patches for transfer
 them to Psi upstream developers.
 .
 Full list of features you can found at:
 http://psi-plus.com/wiki/doku.php/en:features

Package: psi-plus-icons-moods
Architecture: all
Depends: psi-plus-common, ${misc:Depends}
Breaks: psi-plus (<< 0.15~svn2289)
Replaces: psi-plus (<< 0.15~svn2289)
Description: moods icons for Psi+
 This package contains moods icons for Psi+.
 .
 Psi is a cross-platform powerful Jabber client (Qt, C++) designed for the
 Jabber power users. Psi+ is a development branch of Psi IM Jabber client by
 psi-dev@conference.jabber.ru team.
 .
 Project Purpose: collection, refinement and writing new patches for transfer
 them to Psi upstream developers.
 .
 Full list of features you can found at:
 http://psi-plus.com/wiki/doku.php/en:features

Package: psi-plus-icons-roster
Architecture: all
Depends: psi-plus-common, ${misc:Depends}
Breaks: psi-plus (<< 0.15~svn2289)
Replaces: psi-plus (<< 0.15~svn2289)
Description: roster icons for Psi+
 This package contains roster icons for Psi+.
 .
 Psi is a cross-platform powerful Jabber client (Qt, C++) designed for the
 Jabber power users. Psi+ is a development branch of Psi IM Jabber client by
 psi-dev@conference.jabber.ru team.
 .
 Project Purpose: collection, refinement and writing new patches for transfer
 them to Psi upstream developers.
 .
 Full list of features you can found at:
 http://psi-plus.com/wiki/doku.php/en:features

Package: psi-plus-icons-system
Architecture: all
Depends: psi-plus-common, ${misc:Depends}
Breaks: psi-plus (<< 0.15~svn2289)
Replaces: psi-plus (<< 0.15~svn2289)
Description: system icons for Psi+
 This package contains system icons for Psi+.
 .
 Psi is a cross-platform powerful Jabber client (Qt, C++) designed for the
 Jabber power users. Psi+ is a development branch of Psi IM Jabber client by
 psi-dev@conference.jabber.ru team.
 .
 Project Purpose: collection, refinement and writing new patches for transfer
 them to Psi upstream developers.
 .
 Full list of features you can found at:
 http://psi-plus.com/wiki/doku.php/en:features

