#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

empty:= 
comma:= $(empty), $(empty)
space:= $(empty) $(empty)

DIRS=$(notdir $(wildcard $(CURDIR)/iconsets/* ) )
PARTS=$(addprefix psi-plus-icons-, $(DIRS) )
PARTS_SEP:= $(subst $(space),$(comma),$(PARTS))

%:
	dh $@ 

control: debian/control.in
	cat debian/control.in | sed 's/#PARTS#/$(PARTS_SEP)/' > debian/control
	$(foreach part,$(DIRS), cat debian/control_part.in | sed 's/#PART#/$(part)/g' >> debian/control; )

override_dh_auto_install: installs

installs: debian/installs.in debian/dirs.in
	$(foreach d,$(DIRS), cat debian/installs.in | sed 's/#PART#/$(d)/g' > debian/psi-plus-icons-$(d).install; )
	$(foreach d,$(DIRS), cat debian/dirs.in | sed 's/#PART#/$(d)/g' > debian/psi-plus-icons-$(d).dirs; )

override_dh_auto_clean: control
	rm -f debian/*.dirs
	rm -f debian/*.install

.PHONY: control