/* --[ main ]--*/
body {
    margin: 0px;
    padding: 0px;
    color: #000000;
    background-color: #ffffff;
    font: 14px sans-serif;
}

#mainText {
    margin: 0 2% 0 2%;
}

#statText {
    margin: 0 3% 0 3%;
}

#header {
    text-align: center;
    font: 20px sans-serif;
}

#footer {
    text-align: center;
    font: 12px sans-serif;
}

a {
    text-decoration: none;
    color: #3179ac;
    font-weight: bold;
}

a:hover {
    color: grey;
    text-decoration: underline;
}

* {
    margin: 0px;
}

.color-odd {
    background-color: #dddddd;
}

.color-actual {
    color: #00aa00;
}

.color-outdated {
    color: #aa0000;
}

.color-newer {
    color: #0000aa;
}

/* --[ stat ]--*/
#stat {
    padding: 0px;
    margin: 0px;
}

#stat table {
    width: 100%;
    border: 1px;
    border-style: solid;
    border-collapse: collapse;
    text-align: left;
}

#stat table caption {
    padding-bottom: 1em;
    text-align: left;
    font-size: 12px;
}

#stat th {
    padding: 0.5em 0.2em;
    border-style: solid;
    border-width: 1px;
    border-color: #666;
    font-size: 14px;
    font-weight: bold;
    padding-left: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    background-color: #cccccc;
    color: #009900;
}

#stat td {
    padding: 0.1em 0.2em;
    border-left-style: solid; 
    border-left-width: 1px; 
    border-left-color: #666;
    border-right-style: solid; 
    border-right-width: 1px; 
    border-right-color: #666;
    text-align: center;
    font-size: 12px;
    padding-left: 4px;
}

.td-separator {
    border-top-style: solid; 
    border-top-width: 1px; 
    border-top-color: #666;
}
